/* src/index.css */
@import "tailwindcss";

/* Opcional: un reset básico para que el body ocupe toda la pantalla */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  /* Un gris muy clarito para el fondo */
}